<link rel="stylesheet" type="text/css" href="/css/advert.css" />
<body>
        <img src="/sss.jpg" id="bg" alt="">
        <section class="wrapper">
          
       
                <audio  style="display:none" src="/mee.mp3" autoplay="true"></audio>
                
                <h2 class="sentence">partifest.com  </h2>
               
            <div class="slidingVertical">
                    <span>Find the Best College Party</span>    
                    <span>Host the Best College Party</span>
                    <span>All Minnesota Colleges</span>
                    <span>Let's All Have Fun !!!</span>
                    <span>on partifest.com</span>
            </div>

         
          
          
    
         
        </section>
        
<footer>


        <p> PartiFest, Copyright &copy; 2019</p>
    
    
    </footer>
  
        
        </body>

