<!DOCTYPE html>
<html>
<head>
	<title>Text Field</title>
</head>
<script type="text/javascript">


function fun()
{
		document.write("<input type='text' name='texts'> <button type='button' onclick='fun()'> Click Me </button>");
}
</script>
<body>
        <form action="/print" method="POST">
<button type="button" class="btn btn-primary" onclick="fun()" >Click Me</button>
</form>
</body>
</html>