<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sticker</title>
</head>
<body>
    <form action="/login" method="POST">
        <div class="form-group">
          <label for="product">Number of Peg</label>
          <input
            type="text"
            id="peg"
            name="peg"
            class="form-control"
            placeholder="Enter number of Peg"
          />
        </div>
        <div class="form-group">
          <label for="password">Hob Size</label>
          <input
            type="text"
            id="hob"
            name="hob"
            class="form-control"
            placeholder="Enter Hob Size"
          />
        </div>
        <div class="form-group">
            <label for="password">Design Type</label>
            <input
              type="text"
              id="design"
              name="design"
              class="form-control"
              placeholder="Enter Design"
            />
          </div>

          <div class="form-group">
            <label for="password">Rim Size</label>
            <input
              type="text"
              id="size"
              name="size"
              class="form-control"
              placeholder="Enter Rim Size"
            />
          </div>
          <div class="form-group">
            <label for="password">Car Maker</label>
            <input
              type="text"
              id="design"
              name="design"
              class="form-control"
              placeholder="Enter Design"
            />
          </div>

          <div class="form-group">
          <label for="password">Car Model</label>
          <input
            type="text"
            id="design"
            name="design"
            class="form-control"
            placeholder="Enter Design"
          />
          </div>


        <button type="submit" class="btn btn-primary btn-block">Print Sticker</button>
      </form>

</body>
</html>

